workspace/projects/doctor-at-home-bff/flows.json
[
    {
        "id": "f31cb4b4.8fd488",
        "type": "tab",
        "label": "Patient Dialog Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2c6ecad.c01aa",
        "type": "tab",
        "label": "Store measurement in session",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84dadbfd.fcdfd8",
        "type": "tab",
        "label": "Send results to backend",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bb718cc.14b568",
        "type": "tab",
        "label": "Call to Patient",
        "disabled": false,
        "info": "This flow exposes a POST endpoint to initiate an (outbound) call to a patient"
    },
    {
        "id": "e00d1491.279808",
        "type": "tab",
        "label": "Twilio Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6427bfd.100058",
        "type": "tab",
        "label": "Demo",
        "disabled": true,
        "info": ""
    },
    {
        "id": "78cca366.9ecd0c",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "bcd6f241.db584",
        "type": "audio-baseurl",
        "z": "",
        "name": "audio-baseurl",
        "url": "http://doctor-at-home-bff.eastus.azurecontainer.io:8080/audio/ivr-audio/"
    },
    {
        "id": "2c7e2236.c1315e",
        "type": "http in",
        "z": "e00d1491.279808",
        "name": "/error",
        "url": "/error",
        "method": "post",
        "swaggerDoc": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "4d5eb434.8adfac",
                "85b1221.e6d47e"
            ]
        ]
    },
    {
        "id": "4d5eb434.8adfac",
        "type": "debug",
        "z": "e00d1491.279808",
        "name": "Error",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 225,
        "y": 491,
        "wires": []
    },
    {
        "id": "bc8619bb.90f858",
        "type": "http in",
        "z": "e00d1491.279808",
        "name": "/status",
        "url": "/status",
        "method": "post",
        "swaggerDoc": "",
        "x": 95,
        "y": 734,
        "wires": [
            [
                "b2456487.891e28",
                "9e04960d.d94388"
            ]
        ]
    },
    {
        "id": "b2456487.891e28",
        "type": "debug",
        "z": "e00d1491.279808",
        "name": "Status",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 224,
        "y": 789,
        "wires": []
    },
    {
        "id": "2c1ec446.8f5d9c",
        "type": "say",
        "z": "e00d1491.279808",
        "name": "",
        "phrase": "An error occurred",
        "voice": "man",
        "x": 390.5,
        "y": 420,
        "wires": [
            [
                "1a83e836.85eb08"
            ]
        ]
    },
    {
        "id": "5a31c189.7a2b1",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "destroy session",
        "func": "if (msg.payload.CallStatus == 'completed') {\n    var sessions = global.get(\"sessions\");\n    if (sessions) {\n        node.log(\"destroying session for \" + msg.payload.From);\n        delete sessions[msg.payload.CallSid];\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "f6e8ca0f.cbc458"
            ]
        ]
    },
    {
        "id": "ab3825ba.82feb8",
        "type": "http response",
        "z": "e00d1491.279808",
        "name": "empty response",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "f6e8ca0f.cbc458",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "set status code",
        "func": "msg.statusCode = 204;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "ab3825ba.82feb8"
            ]
        ]
    },
    {
        "id": "b9418dc9.6957c",
        "type": "comment",
        "z": "e00d1491.279808",
        "name": "invoked by Twilio on call completion",
        "info": "",
        "x": 186.5,
        "y": 690,
        "wires": []
    },
    {
        "id": "102444c0.0a24bb",
        "type": "twiml-end",
        "z": "e00d1491.279808",
        "name": "",
        "x": 909,
        "y": 420,
        "wires": [
            [
                "808cd43.d298328"
            ]
        ]
    },
    {
        "id": "808cd43.d298328",
        "type": "http response",
        "z": "e00d1491.279808",
        "name": "return to Twilio",
        "x": 1084,
        "y": 420,
        "wires": []
    },
    {
        "id": "85b1221.e6d47e",
        "type": "twiml-begin",
        "z": "e00d1491.279808",
        "name": "",
        "x": 242,
        "y": 420,
        "wires": [
            [
                "2c1ec446.8f5d9c"
            ]
        ]
    },
    {
        "id": "1a83e836.85eb08",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "process error",
        "func": "var sessions = global.get(\"sessions\");\nif (sessions) {\n    msg.session = sessions[msg.payload.CallSid];\n}\nvar errorRoute;\nif ((msg.session) && (msg.session.currentRoute)) {\n    errorRoute = msg.session.currentRoute;\n} else {\n    errorRoute = '/router';\n}\nnode.error('Error processing route: ' + errorRoute);\n// Arrange for call to redirect to router and follow /begin route.\nif (msg.session) {\n    msg.session.nextRoute = \"/begin\";\n}\nmsg.topic = msg.baseUrl + '/router';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 537.5,
        "y": 420,
        "wires": [
            [
                "e4469578.af4838"
            ]
        ]
    },
    {
        "id": "8608b12a.1a7bf",
        "type": "http in",
        "z": "e00d1491.279808",
        "name": "/router",
        "url": "/router",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 84,
        "y": 98,
        "wires": [
            [
                "6038d748.5f3f88"
            ]
        ]
    },
    {
        "id": "a617ea75.93e228",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "process input",
        "func": "msg.session = global.get(\"sessions\")[msg.payload.CallSid];\n\t\t\t\nvar digits = msg.payload.Digits;\n\n// If a key was pressed and a menu defined\nif (digits) {\n  var numDigits = digits.length;\n  node.log('digits= \\\"' + digits + '\\\"');\n  \n  // For convenience, save digits as space-separated string for speech.\n  msg.payload.digitSpeech = \" \";\n  for(var i=0;i<numDigits;i++) {\n    msg.payload.digitSpeech += msg.payload.Digits[i] + \" \";\n  }\n\n  \n  if ((numDigits == 1) && (msg.session.menuMap)) {\n    // If a key was pressed and a menu defined\n    delete msg.session.selectedItem;\n    if (digits == '*') digits = 'star';\n    if (digits == '#') digits = 'pound';\n    msg.session.selectedItem = msg.session.menuMap[digits];\n    var menuItem = msg.session.selectedItem;\n    if (menuItem) {\n      msg.route = menuItem.route;\n      node.log('menu selection --> ' + msg.route);\n    }\n  }\n} else {\n  if (msg.payload.SpeechResult) {\n    var speech = msg.payload.SpeechResult;\n    node.error(speech);\n    speech = speech.toLowerCase();\n    msg.session.selectedItem = msg.session.menuMap[speech];\n    var menuItem = msg.session.selectedItem;\n    if (menuItem) {\n      msg.route = menuItem.route;\n      node.log('menu selection --> ' + msg.route);\n    }\n  } \n}\nif (!msg.route) {\n  // route not specified by a menu selection or speech\n  if (msg.session.nextRoute) {\n    msg.route = msg.session.nextRoute;\n    node.log('using nextRoute --> ' + msg.route);\n    delete msg.session.nextRoute;\n  } else {\n    node.log('could not determine route!');\n  }\n}\nmsg.session.currentRoute = msg.route;\nreturn msg;\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 598.5,
        "y": 99,
        "wires": [
            [
                "338c2fb9.f0012",
                "b08e8e4.97c197"
            ]
        ]
    },
    {
        "id": "c0b457c1.958518",
        "type": "comment",
        "z": "e00d1491.279808",
        "name": "Universal Router",
        "info": "",
        "x": 114.5,
        "y": 37,
        "wires": []
    },
    {
        "id": "1bac50fb.040fff",
        "type": "http response",
        "z": "e00d1491.279808",
        "name": "return to Twilio",
        "x": 3092,
        "y": 82,
        "wires": []
    },
    {
        "id": "f4b1ce5f.5e98",
        "type": "http request",
        "z": "e00d1491.279808",
        "name": "invoke route",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "{{{baseUrl}}}{{{route}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1617.5,
        "y": 93,
        "wires": [
            [
                "6d48a425.789aec"
            ]
        ]
    },
    {
        "id": "338c2fb9.f0012",
        "type": "twiml-begin",
        "z": "e00d1491.279808",
        "name": "",
        "x": 782,
        "y": 99,
        "wires": [
            [
                "4e4b737.0d7a48c"
            ]
        ]
    },
    {
        "id": "ac61f8d7.0c9348",
        "type": "twiml-end",
        "z": "e00d1491.279808",
        "name": "",
        "x": 2859,
        "y": 83,
        "wires": [
            [
                "1bac50fb.040fff",
                "e05a84eb.c6f4f8"
            ]
        ]
    },
    {
        "id": "4e4b737.0d7a48c",
        "type": "switch",
        "z": "e00d1491.279808",
        "name": "valid route?",
        "property": "route",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 947.5,
        "y": 99,
        "wires": [
            [
                "f4b1ce5f.5e98"
            ],
            [
                "e3583a5b.baf148"
            ]
        ],
        "inputLabels": [
            "route url"
        ],
        "outputLabels": [
            "yes",
            "no"
        ]
    },
    {
        "id": "fafa70a5.03db9",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "route to previous route",
        "func": "msg.route = msg.session.lastRoute;\nnode.log(\"routing to lastRoute: \" + msg.session.lastRoute);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1344,
        "y": 127,
        "wires": [
            [
                "f4b1ce5f.5e98"
            ]
        ]
    },
    {
        "id": "85c01af8.378488",
        "type": "json",
        "z": "e00d1491.279808",
        "name": "",
        "pretty": false,
        "x": 1963,
        "y": 87,
        "wires": [
            [
                "96dfd30f.a19ee"
            ]
        ]
    },
    {
        "id": "6d48a425.789aec",
        "type": "switch",
        "z": "e00d1491.279808",
        "name": "error check",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1799.5,
        "y": 93,
        "wires": [
            [
                "85c01af8.378488"
            ],
            [
                "aeafae8c.a0185"
            ]
        ]
    },
    {
        "id": "aeafae8c.a0185",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "log error",
        "func": "node.error(\"HTTP status code = \" + msg.statusCode + \" when invoking route \" + msg.route);\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2496.5,
        "y": 158,
        "wires": [
            [
                "ac61f8d7.0c9348"
            ]
        ]
    },
    {
        "id": "6038d748.5f3f88",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "get session",
        "func": "if (!global.get(\"sessions\")) {\n    // no global set of sessions yet.\n    global.set(\"sessions\", {});\n} else {\n    // try to find session for caller\n    msg.session = global.get(\"sessions\")[msg.payload.CallSid];\n}\nif (!msg.session) {\n    // no session for this call yet\n    var protocol = \"http://\";\n    if (msg.req.connection.encrypted === true) {\n        protocol = \"https://\";\n    }\n    // this carries over info from the outbound-call initiation\n    var callInfo = global.get(\"call-info\")[msg.payload.CallSid];\n\n    msg.session = {\n        callStart: new Date(),\n        baseUrl: protocol + msg.req.headers.host,\n        callInfo: callInfo\n    };\n    global.get(\"sessions\")[msg.payload.CallSid] = msg.session;\n    node.log(\"creating session for \" + msg.payload.From);\n    //node.log(JSON.stringify(global.get(\"sessions\")[msg.payload.CallSid]));\n\n    msg.session.nextRoute = \"/begin\";\n    msg.session.newCall = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 99,
        "wires": [
            [
                "8f664274.7cf8c",
                "ad0a0f99.611c3"
            ]
        ]
    },
    {
        "id": "e3583a5b.baf148",
        "type": "say",
        "z": "e00d1491.279808",
        "name": "invalid choice",
        "phrase": "invalid option",
        "voice": "man",
        "x": 1137.5,
        "y": 127,
        "wires": [
            [
                "fafa70a5.03db9"
            ]
        ]
    },
    {
        "id": "82d51603.e8a008",
        "type": "comment",
        "z": "e00d1491.279808",
        "name": "invoked by Twilio on error",
        "info": "",
        "x": 150,
        "y": 359,
        "wires": []
    },
    {
        "id": "ad0a0f99.611c3",
        "type": "debug",
        "z": "e00d1491.279808",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "f50571b5.bffa6",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "set next route",
        "func": "// Use redirect to have Twilio come back to the router.\nmsg.topic = msg.baseUrl + '/router';\n  \nif (!msg.session.nextRoute) {\n  // if a route did not request Gather input\n  // and did not specify a next route, go back\n  // to the last route.\n  msg.session.nextRoute = msg.session.lastRoute;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2357,
        "y": 108,
        "wires": [
            [
                "356bae4.9c35352"
            ]
        ]
    },
    {
        "id": "e4469578.af4838",
        "type": "redirect",
        "z": "e00d1491.279808",
        "name": "redirect to /router",
        "method": "POST",
        "url": "",
        "x": 725.5,
        "y": 420,
        "wires": [
            [
                "102444c0.0a24bb"
            ]
        ]
    },
    {
        "id": "96dfd30f.a19ee",
        "type": "switch",
        "z": "e00d1491.279808",
        "name": "input requested?",
        "property": "payload.twiml",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<Gather",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 2143.5,
        "y": 87,
        "wires": [
            [
                "ac61f8d7.0c9348"
            ],
            [
                "f50571b5.bffa6"
            ]
        ],
        "outputLabels": [
            "yes",
            "no"
        ]
    },
    {
        "id": "356bae4.9c35352",
        "type": "redirect",
        "z": "e00d1491.279808",
        "name": "tell Twilio to invoke /router",
        "method": "POST",
        "url": "",
        "x": 2566,
        "y": 108,
        "wires": [
            [
                "ac61f8d7.0c9348"
            ]
        ]
    },
    {
        "id": "e05a84eb.c6f4f8",
        "type": "debug",
        "z": "e00d1491.279808",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 3040.5,
        "y": 135,
        "wires": []
    },
    {
        "id": "a8b95097.c184f",
        "type": "http in",
        "z": "e00d1491.279808",
        "name": "/recording-callback",
        "url": "/recording-callback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 132,
        "y": 567,
        "wires": [
            [
                "c06dab11.5c48b8",
                "853beeb.12f1e1"
            ]
        ]
    },
    {
        "id": "c06dab11.5c48b8",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "set recording status",
        "func": "// try to find session for caller\nmsg.session = global.get(\"sessions\")[msg.payload.CallSid];\nmsg.session.recordingStatus = msg.payload.RecordingStatus;\nnode.log('/recording-callback: ' + msg.payload.RecordingUrl + ' : ' + msg.payload.RecordingStatus);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 358,
        "y": 567,
        "wires": [
            [
                "bd3389ac.115958"
            ]
        ]
    },
    {
        "id": "bd3389ac.115958",
        "type": "http response",
        "z": "e00d1491.279808",
        "name": "return to Twilio",
        "x": 561,
        "y": 567,
        "wires": []
    },
    {
        "id": "853beeb.12f1e1",
        "type": "debug",
        "z": "e00d1491.279808",
        "name": "recording status",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 348,
        "y": 619,
        "wires": []
    },
    {
        "id": "8f664274.7cf8c",
        "type": "function",
        "z": "e00d1491.279808",
        "name": "blacklist check",
        "func": "// array of blacklisted phone numbers\nvar blacklist = [\n    '+15558675309'\n];\n\nif (blacklist.includes(msg.payload.From)) {\n    msg.route = \"/blacklisted\";\n    node.log(\"blacklisted number: \" + msg.payload.From);\n}\nreturn msg;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 411.5,
        "y": 99,
        "wires": [
            [
                "a617ea75.93e228"
            ]
        ],
        "outputLabels": [
            "no"
        ]
    },
    {
        "id": "7a66f3fb.2c32bc",
        "type": "http in",
        "z": "e00d1491.279808",
        "name": "/blacklisted",
        "url": "/blacklisted",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 106,
        "y": 252,
        "wires": [
            [
                "3e11abce.b30dc4"
            ]
        ]
    },
    {
        "id": "3e11abce.b30dc4",
        "type": "say",
        "z": "e00d1491.279808",
        "name": "blacklisted",
        "phrase": "the number you are calling from is blacklisted",
        "voice": "man",
        "x": 283,
        "y": 252,
        "wires": [
            [
                "d40526db.8217e8"
            ]
        ]
    },
    {
        "id": "d40526db.8217e8",
        "type": "hangup",
        "z": "e00d1491.279808",
        "name": "",
        "x": 449,
        "y": 252,
        "wires": [
            [
                "3261d7b1.b7fd58"
            ]
        ]
    },
    {
        "id": "3261d7b1.b7fd58",
        "type": "http response",
        "z": "e00d1491.279808",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 616.5,
        "y": 252,
        "wires": []
    },
    {
        "id": "817ea798.529808",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/main-menu",
        "url": "/main-menu",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "6d6713c6.1d3e3c"
            ]
        ]
    },
    {
        "id": "63c1ac2a.96d644",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/account",
        "url": "/account",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 125,
        "y": 708,
        "wires": [
            [
                "bce9491d.2287f8"
            ]
        ]
    },
    {
        "id": "2027f186.10eefe",
        "type": "menu",
        "z": "f6427bfd.100058",
        "name": "main menu",
        "sayName": true,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "1",
                "prependFor": false,
                "content": "to access your account",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/account"
            },
            {
                "key": "2",
                "prependFor": true,
                "content": "customer support",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/support"
            },
            {
                "key": "3",
                "prependFor": false,
                "content": "to place an order",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/place-order"
            },
            {
                "key": "0",
                "prependFor": false,
                "content": "to speak to an agent",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/agent"
            },
            {
                "key": "star",
                "prependFor": false,
                "content": "to end this call",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/end"
            }
        ],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "5aca17c5.f0f728"
            ]
        ]
    },
    {
        "id": "cf6a9719.4a6bf8",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 806.5,
        "y": 160,
        "wires": []
    },
    {
        "id": "2c666187.2a7aae",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1567.5,
        "y": 707,
        "wires": []
    },
    {
        "id": "d0235466.8f8388",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/loading-dock",
        "url": "/loading-dock",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150.5,
        "y": 1864,
        "wires": [
            [
                "58a878ee.9b3758"
            ]
        ]
    },
    {
        "id": "684cff28.ab1cb",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1683.5,
        "y": 1861,
        "wires": []
    },
    {
        "id": "5aca17c5.f0f728",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 633,
        "y": 160,
        "wires": [
            [
                "cf6a9719.4a6bf8"
            ]
        ]
    },
    {
        "id": "bce9491d.2287f8",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "5",
        "numDigits": "8",
        "speechHints": "I don't know it.",
        "speechTimeout": "1",
        "x": 303,
        "y": 708,
        "wires": [
            [
                "c56da1de.0eea5"
            ]
        ]
    },
    {
        "id": "6221e508.a36fec",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 1206,
        "y": 708,
        "wires": [
            [
                "4396b945.521718"
            ]
        ]
    },
    {
        "id": "198c958f.6f212a",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/end",
        "url": "/end",
        "method": "post",
        "swaggerDoc": "",
        "x": 129.5,
        "y": 1923,
        "wires": [
            [
                "45b4d47c.ed7d7c"
            ]
        ]
    },
    {
        "id": "45b4d47c.ed7d7c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "goodbye",
        "url": "goodbye.mp3",
        "x": 270,
        "y": 1923,
        "wires": [
            [
                "5bf5f495.b52dfc"
            ]
        ]
    },
    {
        "id": "fe414544.f41428",
        "type": "hangup",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 548,
        "y": 1923,
        "wires": [
            [
                "ef3c28a9.a48c78"
            ]
        ]
    },
    {
        "id": "ef3c28a9.a48c78",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 715.5,
        "y": 1923,
        "wires": []
    },
    {
        "id": "5bf5f495.b52dfc",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "",
        "seconds": "1",
        "x": 411,
        "y": 1923,
        "wires": [
            [
                "fe414544.f41428"
            ]
        ]
    },
    {
        "id": "d9c41eda.416d",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/begin",
        "url": "/begin",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 108.5,
        "y": 72,
        "wires": [
            [
                "98f75449.99d708"
            ]
        ]
    },
    {
        "id": "5e46b9b9.8fdef8",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/support",
        "url": "/support",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 134.5,
        "y": 1117,
        "wires": [
            [
                "69e04f0e.700b7"
            ]
        ]
    },
    {
        "id": "e228d4cb.723818",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1410.5,
        "y": 1118,
        "wires": []
    },
    {
        "id": "98f75449.99d708",
        "type": "switch",
        "z": "f6427bfd.100058",
        "name": "new call?",
        "property": "payload.CallStatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ringing",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 262,
        "y": 72,
        "wires": [
            [
                "2ec9273d.f5c948"
            ],
            [
                "6d6713c6.1d3e3c"
            ]
        ],
        "outputLabels": [
            "yes",
            "no"
        ]
    },
    {
        "id": "e1172ea.8f8ccd",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/place-order",
        "url": "/place-order",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 132.5,
        "y": 259,
        "wires": [
            [
                "b53523c7.1b15f"
            ]
        ]
    },
    {
        "id": "584c5f9d.fc183",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1001.5,
        "y": 259,
        "wires": []
    },
    {
        "id": "b53523c7.1b15f",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "6",
        "speechHints": "",
        "speechTimeout": "",
        "x": 295,
        "y": 259,
        "wires": [
            [
                "c6ef571d.f68b68"
            ]
        ]
    },
    {
        "id": "1e524be7.383004",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 630,
        "y": 259,
        "wires": [
            [
                "1d9fb56e.d3723b"
            ]
        ]
    },
    {
        "id": "1d9fb56e.d3723b",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "",
        "route": "/confirm-item",
        "x": 814,
        "y": 259,
        "wires": [
            [
                "584c5f9d.fc183"
            ]
        ]
    },
    {
        "id": "4d47da9d.c70404",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/confirm-item",
        "url": "/confirm-item",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130.5,
        "y": 365,
        "wires": [
            [
                "3e62d708.f794c8"
            ]
        ]
    },
    {
        "id": "4b04f238.6e667c",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "repeat item",
        "func": "if (msg.payload.Digits) {\n    msg.payload.say = msg.payload.digitSpeech;\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 628,
        "y": 365,
        "wires": [
            [
                "af803c5c.54be6"
            ]
        ]
    },
    {
        "id": "f17c83ee.8dd46",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "1s",
        "seconds": "1",
        "x": 1464,
        "y": 372,
        "wires": [
            [
                "85220e77.6f9b4"
            ]
        ]
    },
    {
        "id": "3e62d708.f794c8",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "1",
        "speechHints": "yes, no",
        "speechTimeout": "auto",
        "x": 295.5,
        "y": 365,
        "wires": [
            [
                "bcbc33e6.7d85c"
            ]
        ]
    },
    {
        "id": "692a394.128f3c8",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 1781,
        "y": 372,
        "wires": [
            [
                "b52a2f1b.ff65c"
            ]
        ]
    },
    {
        "id": "b52a2f1b.ff65c",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1974.5,
        "y": 372,
        "wires": []
    },
    {
        "id": "491b59f5.fdfdb8",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/submit-order",
        "url": "/submit-order",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 131.5,
        "y": 496,
        "wires": [
            [
                "6c1cc68e.866ab8"
            ]
        ]
    },
    {
        "id": "2dba91a3.e977ee",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "1s",
        "seconds": "1",
        "x": 452.5,
        "y": 495,
        "wires": [
            [
                "aeeb9767.1e7d38"
            ]
        ]
    },
    {
        "id": "25f63e83.8992d2",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/main-menu",
        "route": "/main-menu",
        "x": 1057.5,
        "y": 495,
        "wires": [
            [
                "511d72b3.5295fc"
            ]
        ]
    },
    {
        "id": "511d72b3.5295fc",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1247.5,
        "y": 495,
        "wires": []
    },
    {
        "id": "d09f1149.182f2",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random item",
        "outputs": "5",
        "x": 984,
        "y": 366,
        "wires": [
            [
                "29d5d195.ae7fbe"
            ],
            [
                "62839b1c.105064"
            ],
            [
                "8669139a.f8903"
            ],
            [
                "5b747b7f.e18ed4"
            ],
            [
                "7191eb59.a84854"
            ]
        ]
    },
    {
        "id": "af803c5c.54be6",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "say item",
        "phrase": "",
        "voice": "man",
        "x": 785,
        "y": 365,
        "wires": [
            [
                "d09f1149.182f2"
            ]
        ]
    },
    {
        "id": "d7198150.360e4",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "say price",
        "phrase": "",
        "voice": "man",
        "x": 897.5,
        "y": 495,
        "wires": [
            [
                "25f63e83.8992d2"
            ]
        ]
    },
    {
        "id": "2f1e20af.e0259",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "random price",
        "func": "var n = (300 + (Math.random() * 1000)).toFixed(2);\nmsg.payload.say =  '$' + n.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 743.5,
        "y": 495,
        "wires": [
            [
                "d7198150.360e4"
            ]
        ]
    },
    {
        "id": "f1445612.95d368",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "eight",
        "phrase": "8",
        "voice": "man",
        "x": 649,
        "y": 708,
        "wires": [
            [
                "89d2687a.5f8f28"
            ]
        ]
    },
    {
        "id": "c56da1de.0eea5",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "please enter your",
        "url": "pleaseenteryour.mp3",
        "x": 489.5,
        "y": 708,
        "wires": [
            [
                "f1445612.95d368"
            ]
        ]
    },
    {
        "id": "89d2687a.5f8f28",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "digit account #",
        "url": "digitaccountnumber.mp3",
        "x": 807,
        "y": 708,
        "wires": [
            [
                "88034f89.f13d5"
            ]
        ]
    },
    {
        "id": "88034f89.f13d5",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "if you don't know...",
        "url": "ifyoudontknowit.mp3",
        "x": 1008,
        "y": 708,
        "wires": [
            [
                "6221e508.a36fec"
            ]
        ]
    },
    {
        "id": "69df50d0.b3108",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/find-account",
        "url": "/find-account",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 137.5,
        "y": 792,
        "wires": [
            [
                "7dc9a2af.82f26c"
            ]
        ]
    },
    {
        "id": "4396b945.521718",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/find-account",
        "route": "/find-account",
        "x": 1383.5,
        "y": 707,
        "wires": [
            [
                "2c666187.2a7aae"
            ]
        ]
    },
    {
        "id": "7dc9a2af.82f26c",
        "type": "switch",
        "z": "f6427bfd.100058",
        "name": "know?",
        "property": "payload.SpeechResult",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*don't know.*",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 314.5,
        "y": 792,
        "wires": [
            [
                "5fdf9b3a.f17764"
            ],
            [
                "f771ec0c.93bfc"
            ]
        ],
        "outputLabels": [
            "yes",
            ""
        ]
    },
    {
        "id": "66ae0eb2.7b66c",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "4",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 666,
        "y": 820,
        "wires": [
            [
                "8b81d922.416f48"
            ]
        ]
    },
    {
        "id": "8b81d922.416f48",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "enter PIN",
        "phrase": "Please enter your 4 digit PIN",
        "voice": "man",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "319561ba.43ebce"
            ]
        ]
    },
    {
        "id": "319561ba.43ebce",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 993,
        "y": 820,
        "wires": [
            [
                "bf97560b.47cfc8"
            ]
        ]
    },
    {
        "id": "bf97560b.47cfc8",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/check-pin",
        "route": "/check-pin",
        "x": 1168.5,
        "y": 820,
        "wires": [
            [
                "b1eb0e80.2112b"
            ]
        ]
    },
    {
        "id": "b1eb0e80.2112b",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1349.5,
        "y": 820,
        "wires": []
    },
    {
        "id": "31b66a80.62b3c6",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "transpose digits",
        "func": "// transpose the 2nd and 3rd digits and read it back to the caller.\nmsg.payload.say = \"You entered \";\nmsg.payload.say += msg.payload.Digits[0];\nmsg.payload.say += \" \";\nmsg.payload.say += msg.payload.Digits[2];\nmsg.payload.say += \" \";\nmsg.payload.say += msg.payload.Digits[1];\nmsg.payload.say += \" \";\nmsg.payload.say += msg.payload.Digits[3];\nmsg.payload.say += \" \";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 629.5,
        "y": 909,
        "wires": [
            [
                "4d1663c1.5253ac"
            ]
        ]
    },
    {
        "id": "9cefea39.c8ac48",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/check-pin",
        "url": "/check-pin",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 131.5,
        "y": 910,
        "wires": [
            [
                "e6e852ae.f6e4c"
            ]
        ]
    },
    {
        "id": "4d1663c1.5253ac",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "",
        "phrase": "",
        "voice": "man",
        "x": 784,
        "y": 909,
        "wires": [
            [
                "ca833a8c.533b28"
            ]
        ]
    },
    {
        "id": "241a13ec.a3cbdc",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "1",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 454.5,
        "y": 909,
        "wires": [
            [
                "31b66a80.62b3c6"
            ]
        ]
    },
    {
        "id": "721e2836.b2baf8",
        "type": "menu",
        "z": "f6427bfd.100058",
        "name": "",
        "sayName": false,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "1",
                "prependFor": false,
                "content": "to try again",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/find-account"
            },
            {
                "key": "9",
                "prependFor": true,
                "content": "main menu",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/main-menu"
            },
            {
                "key": "0",
                "prependFor": false,
                "content": "to speak to an agent",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/agent"
            }
        ],
        "x": 1201,
        "y": 909,
        "wires": [
            [
                "41f0c7dd.217088"
            ]
        ]
    },
    {
        "id": "eea2bb71.5eb4a8",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 1959,
        "y": 903,
        "wires": [
            [
                "7f3545c7.93fc7c"
            ]
        ]
    },
    {
        "id": "7f3545c7.93fc7c",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 2139.5,
        "y": 903,
        "wires": []
    },
    {
        "id": "1e0cf520.1879fb",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/shock-monkey",
        "url": "/shock-monkey",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 155.5,
        "y": 1495,
        "wires": [
            [
                "d28d66e5.f7ba58"
            ]
        ]
    },
    {
        "id": "b1cdd5a2.36dde8",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "shock monkey",
        "url": "shock-monkey.mp3",
        "x": 492,
        "y": 1494,
        "wires": [
            [
                "fcdce6f9.52e4e8"
            ]
        ]
    },
    {
        "id": "41f0c7dd.217088",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "count failures",
        "func": "msg.session = global.get(\"sessions\")[msg.payload.CallSid];\nif (!msg.session.pinfailures) {\n    msg.session.pinfailures = 1;\n} else {\n    msg.session.pinfailures++;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1357.5,
        "y": 909,
        "wires": [
            [
                "7a7f8b15.0b4334"
            ]
        ]
    },
    {
        "id": "7a7f8b15.0b4334",
        "type": "switch",
        "z": "f6427bfd.100058",
        "name": "multiple failures?",
        "property": "session.pinfailures",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1550.5,
        "y": 908,
        "wires": [
            [
                "eea2bb71.5eb4a8"
            ],
            [
                "dccfb5ce.a4f9f8"
            ]
        ],
        "outputLabels": [
            "no",
            "yes"
        ]
    },
    {
        "id": "dccfb5ce.a4f9f8",
        "type": "menu",
        "z": "f6427bfd.100058",
        "name": "add shock monkey choice",
        "sayName": false,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "star",
                "prependFor": false,
                "content": "toshockthemonkey.mp3",
                "op": "play",
                "action": "press",
                "speech": "",
                "route": "/shock-monkey"
            }
        ],
        "x": 1771,
        "y": 956,
        "wires": [
            [
                "eea2bb71.5eb4a8"
            ]
        ]
    },
    {
        "id": "5cb4f3f4.ac878c",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 875.5,
        "y": 1494,
        "wires": []
    },
    {
        "id": "fcdce6f9.52e4e8",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/find-account",
        "route": "/find-account",
        "x": 681,
        "y": 1494,
        "wires": [
            [
                "5cb4f3f4.ac878c"
            ]
        ]
    },
    {
        "id": "d28d66e5.f7ba58",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 322,
        "y": 1494,
        "wires": [
            [
                "b1cdd5a2.36dde8"
            ]
        ]
    },
    {
        "id": "58a878ee.9b3758",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 298,
        "y": 1864,
        "wires": [
            [
                "9d849dae.7731c"
            ]
        ]
    },
    {
        "id": "12269b30.f559d5",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 561,
        "y": 1863,
        "wires": [
            [
                "cd14d739.6103b8"
            ]
        ]
    },
    {
        "id": "9d849dae.7731c",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "2s",
        "seconds": "2",
        "x": 425.5,
        "y": 1863,
        "wires": [
            [
                "12269b30.f559d5"
            ]
        ]
    },
    {
        "id": "6d6713c6.1d3e3c",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "5",
        "numDigits": "1",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 308,
        "y": 160,
        "wires": [
            [
                "2027f186.10eefe"
            ]
        ]
    },
    {
        "id": "2556ddac.450072",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "incorrect",
        "url": "imsorrythatsincorrect.mp3",
        "x": 1063,
        "y": 909,
        "wires": [
            [
                "721e2836.b2baf8"
            ]
        ]
    },
    {
        "id": "c6ef571d.f68b68",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "enter #",
        "url": "pleaseentercatalognumber.mp3",
        "x": 458.5,
        "y": 259,
        "wires": [
            [
                "1e524be7.383004"
            ]
        ]
    },
    {
        "id": "29d5d195.ae7fbe",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "avocado roaster",
        "url": "product_avocadoroaster.mp3",
        "x": 1239,
        "y": 279,
        "wires": [
            [
                "f17c83ee.8dd46"
            ]
        ]
    },
    {
        "id": "62839b1c.105064",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "watermelon press",
        "url": "product_watermelonpress.mp3",
        "x": 1249,
        "y": 317,
        "wires": [
            [
                "f17c83ee.8dd46"
            ]
        ]
    },
    {
        "id": "8669139a.f8903",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "garlic filter",
        "url": "product_garlicfilter.mp3",
        "x": 1229,
        "y": 354,
        "wires": [
            [
                "f17c83ee.8dd46"
            ]
        ]
    },
    {
        "id": "5b747b7f.e18ed4",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ham stretcher",
        "url": "product_hamstretcher.mp3",
        "x": 1240,
        "y": 393,
        "wires": [
            [
                "f17c83ee.8dd46"
            ]
        ]
    },
    {
        "id": "7191eb59.a84854",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "waffle sprayer",
        "url": "product_wafflesprayer.mp3",
        "x": 1241,
        "y": 434,
        "wires": [
            [
                "f17c83ee.8dd46"
            ]
        ]
    },
    {
        "id": "6c1cc68e.866ab8",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "thank you",
        "url": "thankyouforyourorder.mp3",
        "x": 302,
        "y": 496,
        "wires": [
            [
                "2dba91a3.e977ee"
            ]
        ]
    },
    {
        "id": "aeeb9767.1e7d38",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "billed",
        "url": "youwillbebilled.mp3",
        "x": 580,
        "y": 495,
        "wires": [
            [
                "2f1e20af.e0259"
            ]
        ]
    },
    {
        "id": "5fdf9b3a.f17764",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "why?",
        "url": "whydontyouknowit.mp3",
        "x": 482,
        "y": 775,
        "wires": [
            [
                "bce9491d.2287f8"
            ]
        ]
    },
    {
        "id": "f771ec0c.93bfc",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "found",
        "url": "okwefoundyouraccount.mp3",
        "x": 483,
        "y": 817,
        "wires": [
            [
                "66ae0eb2.7b66c"
            ]
        ]
    },
    {
        "id": "ead07a85.11e338",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "enter ticket #",
        "url": "pleaseentersupportticketnumber.mp3",
        "x": 714,
        "y": 1118,
        "wires": [
            [
                "349df4c.713fc0c"
            ]
        ]
    },
    {
        "id": "4784ceb5.0328d",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "10",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 548,
        "y": 1117,
        "wires": [
            [
                "ead07a85.11e338"
            ]
        ]
    },
    {
        "id": "e019569a.bb4ec8",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 1046,
        "y": 1118,
        "wires": [
            [
                "479ef5c0.bedd3c"
            ]
        ]
    },
    {
        "id": "479ef5c0.bedd3c",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/find-ticket",
        "route": "/find-ticket",
        "x": 1218.5,
        "y": 1118,
        "wires": [
            [
                "e228d4cb.723818"
            ]
        ]
    },
    {
        "id": "ab5fc61a.050d58",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/find-ticket",
        "url": "/find-ticket",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 135.5,
        "y": 1204,
        "wires": [
            [
                "8ce98e5c.bf089"
            ]
        ]
    },
    {
        "id": "785d9129.c14be",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "lookup",
        "url": "lookup.mp3",
        "x": 495,
        "y": 1204,
        "wires": [
            [
                "738b8541.9fec4c"
            ]
        ]
    },
    {
        "id": "738b8541.9fec4c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "typing",
        "url": "typing.mp3",
        "x": 614,
        "y": 1204,
        "wires": [
            [
                "c20d6993.f4e2a8"
            ]
        ]
    },
    {
        "id": "c20d6993.f4e2a8",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "ticket found?",
        "func": "msg.session = global.get(\"sessions\")[msg.payload.CallSid];\nif (msg.session.tickets) {\n    // match session ticket with digits\n    var digits = msg.payload.Digits;\n    var ticket = msg.session.tickets[digits];\n    node.log(JSON.stringify(ticket));\n    if (ticket) {\n        msg.payload.say = 'ticket number ' + msg.payload.digitSpeech;\n        if (ticket.recordingUrl) {\n            msg.payload.play = ticket.recordingUrl;\n        }\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n} else {\n    return [null, msg];\n}\n\n\nreturn msg;",
        "outputs": "2",
        "noerr": 0,
        "x": 757.5,
        "y": 1203,
        "wires": [
            [
                "c9d7070d.7a2088"
            ],
            [
                "73053b53.cac3d4"
            ]
        ]
    },
    {
        "id": "e6e852ae.f6e4c",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "4 digits?",
        "func": "if ((msg.payload.Digits) && (msg.payload.Digits.length == 4)) {\n    return [null, msg];\n} else {\n    return [msg, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 281,
        "y": 910,
        "wires": [
            [
                "66ae0eb2.7b66c"
            ],
            [
                "241a13ec.a3cbdc"
            ]
        ],
        "outputLabels": [
            "no",
            "yes"
        ]
    },
    {
        "id": "3c73e031.f11ea",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 2553.5,
        "y": 1274,
        "wires": []
    },
    {
        "id": "73053b53.cac3d4",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "invalid",
        "phrase": "invalid ticket number",
        "voice": "man",
        "x": 954,
        "y": 1233,
        "wires": [
            [
                "3e222177.92541e"
            ]
        ]
    },
    {
        "id": "c9d7070d.7a2088",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "say ticket #",
        "phrase": "",
        "voice": "man",
        "x": 933,
        "y": 1197,
        "wires": [
            [
                "9afadb0.66b0028"
            ]
        ]
    },
    {
        "id": "4c9d5fed.51e07",
        "type": "menu",
        "z": "f6427bfd.100058",
        "name": "ticket menu",
        "sayName": false,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "1",
                "prependFor": false,
                "content": "to try again",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/support"
            },
            {
                "key": "2",
                "prependFor": false,
                "content": "to create a support ticket",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/create-ticket"
            },
            {
                "key": "3",
                "prependFor": false,
                "content": "to speak to an agent",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/agent"
            },
            {
                "key": "4",
                "prependFor": false,
                "content": "to transfer to the loading dock",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/loading-dock"
            },
            {
                "key": "9",
                "prependFor": false,
                "content": "to return to the main menu",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/main-menu"
            }
        ],
        "x": 1554,
        "y": 1276,
        "wires": [
            [
                "280d74b6.3c597c"
            ]
        ]
    },
    {
        "id": "3e222177.92541e",
        "type": "gather-begin",
        "z": "f6427bfd.100058",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "1",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 1388,
        "y": 1276,
        "wires": [
            [
                "4c9d5fed.51e07"
            ]
        ]
    },
    {
        "id": "280d74b6.3c597c",
        "type": "gather-end",
        "z": "f6427bfd.100058",
        "name": "",
        "x": 1719.5,
        "y": 1276,
        "wires": [
            [
                "3c73e031.f11ea"
            ]
        ]
    },
    {
        "id": "de620f90.bc408",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/create-ticket",
        "url": "/create-ticket",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 144.5,
        "y": 1326,
        "wires": [
            [
                "b54fc7a5.b0d328"
            ]
        ]
    },
    {
        "id": "b99eeaa0.2a3688",
        "type": "record",
        "z": "f6427bfd.100058",
        "name": "record problem",
        "action": "",
        "maxLength": "5",
        "timeout": "5",
        "beep": true,
        "recordingStatusCallback": "",
        "finishOnKey": "#",
        "x": 555,
        "y": 1326,
        "wires": [
            [
                "50905049.b9a44"
            ]
        ]
    },
    {
        "id": "b54fc7a5.b0d328",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "describe problem",
        "phrase": "ok, describe your problem",
        "voice": "man",
        "x": 335,
        "y": 1326,
        "wires": [
            [
                "b99eeaa0.2a3688"
            ]
        ]
    },
    {
        "id": "c15ab79b.55df08",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/provide-ticket",
        "url": "/provide-ticket",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 155.5,
        "y": 1399,
        "wires": [
            [
                "3302a9f8.902cf6"
            ]
        ]
    },
    {
        "id": "50905049.b9a44",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/provide-ticket",
        "route": "/provide-ticket",
        "x": 764.5,
        "y": 1326,
        "wires": [
            [
                "3dd26b58.f3b684"
            ]
        ]
    },
    {
        "id": "3dd26b58.f3b684",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 978.5,
        "y": 1326,
        "wires": []
    },
    {
        "id": "f5313130.f147e",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "recording info",
        "func": "msg.session = global.get(\"sessions\")[msg.payload.CallSid];\nnode.log('recording url = ' + msg.payload.RecordingUrl);\nnode.log('recording status = ' + msg.session.recordingStatus);\nmsg.payload.play = msg.payload.RecordingUrl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 1399,
        "wires": [
            [
                "2383a874.393cf8"
            ]
        ]
    },
    {
        "id": "3302a9f8.902cf6",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "Ok, I think you said",
        "phrase": "Ok, I think you said",
        "voice": "man",
        "x": 370,
        "y": 1399,
        "wires": [
            [
                "f5313130.f147e"
            ]
        ]
    },
    {
        "id": "2383a874.393cf8",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "",
        "name": "repeat problem",
        "url": "",
        "x": 807,
        "y": 1399,
        "wires": [
            [
                "f1572912.257c88"
            ]
        ]
    },
    {
        "id": "5bdfd482.a4231c",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/support",
        "route": "/support",
        "x": 1349.5,
        "y": 1398,
        "wires": [
            [
                "f351523c.c3d43"
            ]
        ]
    },
    {
        "id": "f1572912.257c88",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "generate ticket #",
        "func": "// generate support ticket number\nmsg.session = global.get(\"sessions\")[msg.payload.CallSid];\nif (!msg.session.tickets) {\n    msg.session.tickets = {};\n}\nvar ticketNum = \"\";\nvar ticketLength = 4;\nfor(var i=0;i<ticketLength;i++) {\n    ticketNum += Math.floor((Math.random() * 10));\n}\nmsg.session.tickets[ticketNum] = {\n    recordingUrl: msg.payload.RecordingUrl\n}\nnode.log(JSON.stringify(msg.session.tickets[ticketNum]));\nmsg.payload.say = \"Your ticket number is\";\nfor(var i=0;i<ticketLength;i++) {\n    msg.payload.say += \" \";\n    msg.payload.say += ticketNum.charAt(i);\n}\nnode.log(\"ticket number = \" + ticketNum);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1019.5,
        "y": 1399,
        "wires": [
            [
                "1c5d9f6e.8e1161"
            ]
        ]
    },
    {
        "id": "1c5d9f6e.8e1161",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "",
        "phrase": "",
        "voice": "man",
        "x": 1203,
        "y": 1399,
        "wires": [
            [
                "5bdfd482.a4231c"
            ]
        ]
    },
    {
        "id": "f351523c.c3d43",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1522.5,
        "y": 1399,
        "wires": []
    },
    {
        "id": "69e04f0e.700b7",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 274.5,
        "y": 1117,
        "wires": [
            [
                "b7f7a25a.d5ecb"
            ]
        ]
    },
    {
        "id": "b7f7a25a.d5ecb",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "",
        "phrase": "customer support",
        "voice": "man",
        "x": 398,
        "y": 1117,
        "wires": [
            [
                "4784ceb5.0328d"
            ]
        ]
    },
    {
        "id": "9afadb0.66b0028",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "",
        "name": "play recording",
        "url": "",
        "x": 1112.5,
        "y": 1197,
        "wires": [
            [
                "1e0b2ce8.ca5dd3"
            ]
        ]
    },
    {
        "id": "85220e77.6f9b4",
        "type": "menu",
        "z": "f6427bfd.100058",
        "name": "correct?",
        "sayName": false,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "1",
                "prependFor": false,
                "content": "if this is correct",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/submit-order"
            },
            {
                "key": "2",
                "prependFor": false,
                "content": "if not",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/place-order"
            }
        ],
        "x": 1618,
        "y": 372,
        "wires": [
            [
                "692a394.128f3c8"
            ]
        ]
    },
    {
        "id": "ca833a8c.533b28",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "1s",
        "seconds": "1",
        "x": 916,
        "y": 909,
        "wires": [
            [
                "2556ddac.450072"
            ]
        ]
    },
    {
        "id": "bcbc33e6.7d85c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "item",
        "url": "item.mp3",
        "x": 459,
        "y": 365,
        "wires": [
            [
                "4b04f238.6e667c"
            ]
        ]
    },
    {
        "id": "d1431d4f.271b",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "please hold",
        "url": "pleasehold.mp3",
        "x": 1413,
        "y": 1197,
        "wires": [
            [
                "8e412321.e4b7b"
            ]
        ]
    },
    {
        "id": "1e0b2ce8.ca5dd3",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "1s",
        "seconds": "1",
        "x": 1269,
        "y": 1197,
        "wires": [
            [
                "d1431d4f.271b"
            ]
        ]
    },
    {
        "id": "9b1aaaa9.0ade98",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "I'm sorry",
        "url": "imsorry.mp3",
        "x": 1895,
        "y": 1197,
        "wires": [
            [
                "617321c9.64573"
            ]
        ]
    },
    {
        "id": "617321c9.64573",
        "type": "say",
        "z": "f6427bfd.100058",
        "name": "unable",
        "phrase": "We were unable to reproduce your problem. Closing ticket ",
        "voice": "man",
        "x": 2041,
        "y": 1197,
        "wires": [
            [
                "9da598cf.fb3768"
            ]
        ]
    },
    {
        "id": "9da598cf.fb3768",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "delete ticket",
        "func": "var digits = msg.payload.Digits;\nvar digitString = \"\";\nfor(var i=0;i<digits.length;i++) {\n    digitString += digits[i];\n}\ndelete msg.session.tickets[digitString];\n    \n\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2197.5,
        "y": 1197,
        "wires": [
            [
                "6a07ed2e.384cd4"
            ]
        ]
    },
    {
        "id": "6a07ed2e.384cd4",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/support",
        "route": "/support",
        "x": 2356,
        "y": 1197,
        "wires": [
            [
                "3c73e031.f11ea"
            ]
        ]
    },
    {
        "id": "74ffbd07.466694",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "hold 1",
        "url": "holdmusicclip1.mp3",
        "x": 1752,
        "y": 1141,
        "wires": [
            [
                "9b1aaaa9.0ade98"
            ]
        ]
    },
    {
        "id": "8e412321.e4b7b",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random music",
        "outputs": "3",
        "x": 1587,
        "y": 1196,
        "wires": [
            [
                "74ffbd07.466694"
            ],
            [
                "a20cdeb1.c26ef"
            ],
            [
                "4ff1652.60fc79c"
            ]
        ]
    },
    {
        "id": "a20cdeb1.c26ef",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "hold 2",
        "url": "holdmusicclip2.mp3",
        "x": 1752.5,
        "y": 1174,
        "wires": [
            [
                "9b1aaaa9.0ade98"
            ]
        ]
    },
    {
        "id": "4ff1652.60fc79c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "hold 3",
        "url": "holdmusicclip3.mp3",
        "x": 1752.5,
        "y": 1209,
        "wires": [
            [
                "9b1aaaa9.0ade98"
            ]
        ]
    },
    {
        "id": "349df4c.713fc0c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "new ticket",
        "url": "tocreateanewticket.mp3",
        "x": 878,
        "y": 1118,
        "wires": [
            [
                "e019569a.bb4ec8"
            ]
        ]
    },
    {
        "id": "295f785e.aa05b8",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/agent",
        "url": "/agent",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 126.5,
        "y": 1581,
        "wires": [
            [
                "fdcdd7bb.d16298"
            ]
        ]
    },
    {
        "id": "76c12eba.38782",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "",
        "outputs": "3",
        "x": 614.5,
        "y": 1581,
        "wires": [
            [
                "e854ff6f.acb7b"
            ],
            [
                "9ca63204.cab31"
            ],
            [
                "79d96e7.d72609"
            ]
        ]
    },
    {
        "id": "e854ff6f.acb7b",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "",
        "url": "allrepsbusy.mp3",
        "x": 785,
        "y": 1546,
        "wires": [
            [
                "ff91451.301d5b8"
            ]
        ]
    },
    {
        "id": "9ca63204.cab31",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "",
        "url": "allrepsbusyannoyingcallers.mp3",
        "x": 784.5,
        "y": 1581,
        "wires": [
            [
                "ff91451.301d5b8"
            ]
        ]
    },
    {
        "id": "79d96e7.d72609",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "",
        "url": "allagentsbusyorsmokebreak.mp3",
        "x": 784.5,
        "y": 1616,
        "wires": [
            [
                "ff91451.301d5b8"
            ]
        ]
    },
    {
        "id": "27b7c979.f08836",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 446.5,
        "y": 1581,
        "wires": [
            [
                "76c12eba.38782"
            ]
        ]
    },
    {
        "id": "fdcdd7bb.d16298",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "please hold while...",
        "url": "pleaseholdwhilewetransferyourcall.mp3",
        "x": 290.5,
        "y": 1581,
        "wires": [
            [
                "27b7c979.f08836"
            ]
        ]
    },
    {
        "id": "4d8c0130.9f59d",
        "type": "http in",
        "z": "f6427bfd.100058",
        "name": "/nightmare-hold",
        "url": "/nightmare-hold",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 155.5,
        "y": 1745,
        "wires": [
            [
                "6a550db4.beb114"
            ]
        ]
    },
    {
        "id": "6a550db4.beb114",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "please hold",
        "url": "pleasehold.mp3",
        "x": 343.5,
        "y": 1745,
        "wires": [
            [
                "effb2fb1.5d874"
            ]
        ]
    },
    {
        "id": "ff91451.301d5b8",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/nightmare-hold",
        "route": "/nightmare-hold",
        "x": 961,
        "y": 1581,
        "wires": [
            [
                "9f280df5.69257"
            ]
        ]
    },
    {
        "id": "9f280df5.69257",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1167.5,
        "y": 1581,
        "wires": []
    },
    {
        "id": "34bc728.31e1c8e",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "music message",
        "url": "holdmusicmessage8.mp3",
        "x": 687,
        "y": 1745,
        "wires": [
            [
                "7a524567.050b8c"
            ]
        ]
    },
    {
        "id": "fef0b4c5.276f88",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "click2",
        "url": "click2.mp3",
        "x": 1037,
        "y": 1746,
        "wires": [
            [
                "d03e4e52.9d5f1"
            ]
        ]
    },
    {
        "id": "414bbd7a.a01534",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "music",
        "url": "holdmusic2.mp3",
        "x": 1664,
        "y": 1747,
        "wires": [
            [
                "dd6a7dcd.0b459"
            ]
        ]
    },
    {
        "id": "58817dcf.1bd5f4",
        "type": "http response",
        "z": "f6427bfd.100058",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 2914.5,
        "y": 1727,
        "wires": []
    },
    {
        "id": "9e6c690f.aede28",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/nightmare-hold",
        "route": "/nightmare-hold",
        "x": 2663.5,
        "y": 1714,
        "wires": [
            [
                "58817dcf.1bd5f4"
            ]
        ]
    },
    {
        "id": "e746d043.7008d",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random",
        "outputs": "5",
        "x": 2428.5,
        "y": 1747,
        "wires": [
            [
                "54947132.ca9ee"
            ],
            [
                "9e6c690f.aede28"
            ],
            [
                "9e6c690f.aede28"
            ],
            [
                "dc4b67dd.3f2c58"
            ],
            [
                "d01b2552.932638"
            ]
        ]
    },
    {
        "id": "d01b2552.932638",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/main-menu",
        "route": "/main-menu",
        "x": 2654.5,
        "y": 1792,
        "wires": [
            [
                "58817dcf.1bd5f4"
            ]
        ]
    },
    {
        "id": "effb2fb1.5d874",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random",
        "outputs": "3",
        "x": 499.5,
        "y": 1745,
        "wires": [
            [
                "4696944d.e68adc"
            ],
            [
                "34bc728.31e1c8e"
            ],
            [
                "8ffb1b60.a62178"
            ]
        ]
    },
    {
        "id": "8ffb1b60.a62178",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "music message",
        "url": "holdmusicmessage9.mp3",
        "x": 687.5,
        "y": 1786,
        "wires": [
            [
                "7a524567.050b8c"
            ]
        ]
    },
    {
        "id": "4696944d.e68adc",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "music message",
        "url": "holdmusicmessage7.mp3",
        "x": 688.5,
        "y": 1703,
        "wires": [
            [
                "7a524567.050b8c"
            ]
        ]
    },
    {
        "id": "7a524567.050b8c",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random",
        "outputs": "3",
        "x": 887.5,
        "y": 1746,
        "wires": [
            [
                "1c946c41.84b1b4"
            ],
            [
                "fef0b4c5.276f88"
            ],
            [
                "20e90a8d.3d3886"
            ]
        ]
    },
    {
        "id": "1c946c41.84b1b4",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "click",
        "url": "click.mp3",
        "x": 1036.5,
        "y": 1710,
        "wires": [
            [
                "d03e4e52.9d5f1"
            ]
        ]
    },
    {
        "id": "20e90a8d.3d3886",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 1036.5,
        "y": 1782,
        "wires": [
            [
                "44b86380.df849c"
            ]
        ]
    },
    {
        "id": "4a7b14ec.c25d0c",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random",
        "outputs": "3",
        "x": 1497.5,
        "y": 1751,
        "wires": [
            [
                "aee4fb89.3ebc68"
            ],
            [
                "414bbd7a.a01534"
            ],
            [
                "9c223ef1.df25a"
            ]
        ]
    },
    {
        "id": "aee4fb89.3ebc68",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "music",
        "url": "holdmusic1.mp3",
        "x": 1663.5,
        "y": 1708,
        "wires": [
            [
                "dd6a7dcd.0b459"
            ]
        ]
    },
    {
        "id": "9c223ef1.df25a",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "music",
        "url": "holdmusic3.mp3",
        "x": 1663.5,
        "y": 1785,
        "wires": [
            [
                "dd6a7dcd.0b459"
            ]
        ]
    },
    {
        "id": "dc4b67dd.3f2c58",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/loading-dock",
        "route": "/loading-dock",
        "x": 2663.5,
        "y": 1753,
        "wires": [
            [
                "58817dcf.1bd5f4"
            ]
        ]
    },
    {
        "id": "5b134637.996ae8",
        "type": "random-switch",
        "z": "f6427bfd.100058",
        "name": "random",
        "outputs": "6",
        "x": 2075.5,
        "y": 1746,
        "wires": [
            [
                "e746d043.7008d"
            ],
            [
                "e746d043.7008d"
            ],
            [
                "e746d043.7008d"
            ],
            [
                "930cda29.166418"
            ],
            [
                "6c24e949.09fe08"
            ],
            [
                "6007033e.fe989c"
            ]
        ]
    },
    {
        "id": "930cda29.166418",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "busy signal",
        "url": "busysignal.mp3",
        "x": 2264,
        "y": 1777,
        "wires": [
            [
                "e746d043.7008d"
            ]
        ]
    },
    {
        "id": "6c24e949.09fe08",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "dial tone",
        "url": "dialtone.mp3",
        "x": 2256.5,
        "y": 1821,
        "wires": [
            [
                "e746d043.7008d"
            ]
        ]
    },
    {
        "id": "6007033e.fe989c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "off hook",
        "url": "offhook.mp3",
        "x": 2252.5,
        "y": 1863,
        "wires": [
            [
                "e746d043.7008d"
            ]
        ]
    },
    {
        "id": "ad9c8d43.d125e",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/main-menu",
        "route": "/main-menu",
        "x": 1498.5,
        "y": 1861,
        "wires": [
            [
                "684cff28.ab1cb"
            ]
        ]
    },
    {
        "id": "54947132.ca9ee",
        "type": "set-route",
        "z": "f6427bfd.100058",
        "name": "/agent",
        "route": "/agent",
        "x": 2632.5,
        "y": 1673,
        "wires": [
            [
                "58817dcf.1bd5f4"
            ]
        ]
    },
    {
        "id": "d03e4e52.9d5f1",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "3s",
        "seconds": "3",
        "x": 1349,
        "y": 1751,
        "wires": [
            [
                "4a7b14ec.c25d0c"
            ]
        ]
    },
    {
        "id": "44b86380.df849c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "click",
        "url": "click.mp3",
        "x": 1160.5,
        "y": 1782,
        "wires": [
            [
                "d03e4e52.9d5f1"
            ]
        ]
    },
    {
        "id": "7fa65bd6.c0d244",
        "type": "pause",
        "z": "f6427bfd.100058",
        "name": "4s",
        "seconds": "4",
        "x": 1941.5,
        "y": 1746,
        "wires": [
            [
                "5b134637.996ae8"
            ]
        ]
    },
    {
        "id": "dd6a7dcd.0b459",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "click2",
        "url": "click2.mp3",
        "x": 1819.5,
        "y": 1747,
        "wires": [
            [
                "7fa65bd6.c0d244"
            ]
        ]
    },
    {
        "id": "8ce98e5c.bf089",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "new ticket?",
        "func": "if (!msg.payload.Digits) {\n    return [null, msg];\n} else {\n    return [msg, null];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 312.5,
        "y": 1204,
        "wires": [
            [
                "785d9129.c14be"
            ],
            [
                "b54fc7a5.b0d328"
            ]
        ]
    },
    {
        "id": "cd14d739.6103b8",
        "type": "function",
        "z": "f6427bfd.100058",
        "name": "count visits",
        "func": "msg.session = global.get(\"sessions\")[msg.payload.CallSid];\nif (!msg.session.loadingdockvisits) {\n    msg.session.loadingdockvisits = 1;\n} else {\n    msg.session.loadingdockvisits++;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 711.5,
        "y": 1863,
        "wires": [
            [
                "5bccbc35.07be74"
            ]
        ]
    },
    {
        "id": "5bccbc35.07be74",
        "type": "switch",
        "z": "f6427bfd.100058",
        "name": "first time?",
        "property": "session.loadingdockvisits",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 868.5,
        "y": 1863,
        "wires": [
            [
                "704b23cd.b5bc4c"
            ],
            [
                "63e207d9.87aac8"
            ]
        ],
        "outputLabels": [
            "no",
            "yes"
        ]
    },
    {
        "id": "704b23cd.b5bc4c",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "loading dock 1",
        "url": "loadingdock1.mp3",
        "x": 1060.5,
        "y": 1844,
        "wires": [
            [
                "fe09e1a7.74442"
            ]
        ]
    },
    {
        "id": "63e207d9.87aac8",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "loading dock 2",
        "url": "loadingdock2.mp3",
        "x": 1060.5,
        "y": 1886,
        "wires": [
            [
                "fe09e1a7.74442"
            ]
        ]
    },
    {
        "id": "4e52d7b0.b6d3d8",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "ring",
        "url": "ring.mp3",
        "x": 1353.5,
        "y": 1862,
        "wires": [
            [
                "ad9c8d43.d125e"
            ]
        ]
    },
    {
        "id": "fe09e1a7.74442",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "click",
        "url": "click.mp3",
        "x": 1233.5,
        "y": 1862,
        "wires": [
            [
                "4e52d7b0.b6d3d8"
            ]
        ]
    },
    {
        "id": "2ec9273d.f5c948",
        "type": "play",
        "z": "f6427bfd.100058",
        "baseurl": "bcd6f241.db584",
        "name": "welcome",
        "url": "welcome.mp3",
        "x": 431.5,
        "y": 71,
        "wires": [
            [
                "6d6713c6.1d3e3c"
            ]
        ]
    },
    {
        "id": "9125244a.962b18",
        "type": "menu",
        "z": "f31cb4b4.8fd488",
        "name": "Ask for Name",
        "sayName": false,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "1",
                "prependFor": false,
                "content": "Are you John Doe ?",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/measure-oxy"
            },
            {
                "key": "2",
                "prependFor": false,
                "content": "else",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/delegation"
            }
        ],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "26d971bb.9ccfce"
            ]
        ]
    },
    {
        "id": "6a9dfc91.3eea14",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 140,
        "wires": []
    },
    {
        "id": "26d971bb.9ccfce",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "6a9dfc91.3eea14"
            ]
        ]
    },
    {
        "id": "b155d5fa.71a818",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/begin",
        "url": "/begin",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 88.5,
        "y": 132,
        "wires": [
            [
                "6bb855f8.fdbc4c"
            ]
        ]
    },
    {
        "id": "6bb855f8.fdbc4c",
        "type": "switch",
        "z": "f31cb4b4.8fd488",
        "name": "new call?",
        "property": "payload.CallStatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ringing",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 242,
        "y": 132,
        "wires": [
            [
                "47569ea1.8989"
            ],
            [
                "aca778ec.e88388"
            ]
        ],
        "outputLabels": [
            "yes",
            "no"
        ]
    },
    {
        "id": "aca778ec.e88388",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "5",
        "numDigits": "1",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "9125244a.962b18"
            ]
        ]
    },
    {
        "id": "47569ea1.8989",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "welcome",
        "phrase": "Good day, this is your doctor@home check-in call. ",
        "voice": "man",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "aca778ec.e88388"
            ]
        ]
    },
    {
        "id": "16c14780.ca8639",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/delegation",
        "url": "/delegation",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "6abbd254.dca60c"
            ]
        ]
    },
    {
        "id": "9700494e.4701b8",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "a2b66167.31a7a",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "5",
        "numDigits": "1",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "bcbc9f43.73a31"
            ]
        ]
    },
    {
        "id": "8a9c2a28.1d9bb8",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "9700494e.4701b8"
            ]
        ]
    },
    {
        "id": "6abbd254.dca60c",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "are you authorized?",
        "phrase": "Are you authorized and can you answer questions about the health status of John Doe?",
        "voice": "man",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "a2b66167.31a7a"
            ]
        ]
    },
    {
        "id": "1f3c19e8.b1bbe6",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-oxy",
        "url": "/measure-oxy",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "fd7cf377.0b912"
            ]
        ]
    },
    {
        "id": "1aaebd26.36a9a3",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1360,
        "y": 620,
        "wires": []
    },
    {
        "id": "caad9096.1041c",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/retry-later",
        "url": "/retry-later",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "42cfc861.6dc248"
            ]
        ]
    },
    {
        "id": "3532ff5.a59f4",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "42cfc861.6dc248",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "We'll retry later",
        "phrase": "This call will be ended now. We will retry in five minutes. Please make sure that John Doe or a person that is authorized to answer questions on the health status of John Doe will answer this call",
        "voice": "man",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "4156d624.0b6998"
            ]
        ]
    },
    {
        "id": "4156d624.0b6998",
        "type": "hangup",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "3532ff5.a59f4"
            ]
        ]
    },
    {
        "id": "7abb8329.b5621c",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/end",
        "url": "/end",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "58b2a62e.09b3e8"
            ]
        ]
    },
    {
        "id": "9d101e7.58af0e",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "ebe009f4.cbafe8",
        "type": "hangup",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "9d101e7.58af0e"
            ]
        ]
    },
    {
        "id": "58b2a62e.09b3e8",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "Goodbye",
        "phrase": "Thank you. Talk to you soon.",
        "voice": "man",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "ebe009f4.cbafe8",
                "2bfa258e.cefc5a",
                "49124703.8225f8"
            ]
        ]
    },
    {
        "id": "d4be5235.aee97",
        "type": "comment",
        "z": "e00d1491.279808",
        "name": "INTERNAL CONTROL - DO NOT CHANGE (for now)",
        "info": "",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "fd7b29dd.02ba38",
        "type": "http request",
        "z": "7bb718cc.14b568",
        "name": "Twilio API: Create Call",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACd784239b067bc69e24a3837e90519006/Calls.json",
        "tls": "78cca366.9ecd0c",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "7d7dae25.f80de"
            ]
        ]
    },
    {
        "id": "f2d23941.2b47f8",
        "type": "http response",
        "z": "7bb718cc.14b568",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "f83671f1.0f3ae",
        "type": "debug",
        "z": "7bb718cc.14b568",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "89e4c7bf.feaf48",
        "type": "function",
        "z": "7bb718cc.14b568",
        "name": "prepare request",
        "func": "var from = msg.payload['from'] // '+1 404 666 8654'\nvar to = msg.payload['to'] // '+41 79 342 123 9'\n\n\n// needs to be stored in session, once we have a SID\nflow.set ('callInfo', {\n    patientID: msg.payload['patientID'],\n    webhook: msg.payload['webhook']\n})\n\nvar redirect_to = msg.payload['redirect_to'] || 'http://doctor-at-home-bff.eastus.azurecontainer.io:8080/router';\n\n\n\n// construct Call API payload\nmsg.payload = {\n    \"Twiml\": \"<Response><Redirect>\"+redirect_to+\"</Redirect></Response>\",\n    \"From\" : from,\n    \"To\": to,\n};\n\n\n\n\n// API wants payload as form encoded (not json body)\nmsg.headers= {}\nmsg.headers[\"content-type\"] = \"application/x-www-form-urlencoded\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "fd7b29dd.02ba38"
            ]
        ]
    },
    {
        "id": "f7863453.14d6f8",
        "type": "http in",
        "z": "7bb718cc.14b568",
        "name": "",
        "url": "/outbound-call",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "89e4c7bf.feaf48",
                "83591c5b.f38c1"
            ]
        ]
    },
    {
        "id": "bcbc9f43.73a31",
        "type": "menu",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "sayName": false,
        "voice": "man",
        "baseurl": "bcd6f241.db584",
        "items": [
            {
                "key": "1",
                "prependFor": false,
                "content": "yes",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/measure-oxy"
            },
            {
                "key": "2",
                "prependFor": false,
                "content": "no",
                "op": "say",
                "action": "press",
                "speech": "",
                "route": "/retry-later"
            }
        ],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "8a9c2a28.1d9bb8"
            ]
        ]
    },
    {
        "id": "1efb98a6.92bb87",
        "type": "comment",
        "z": "f31cb4b4.8fd488",
        "name": "Start: Welcome and confirm Patient by name",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "2c710e35.0d61e2",
        "type": "comment",
        "z": "f31cb4b4.8fd488",
        "name": "Not patient: Ask about authorization",
        "info": "",
        "x": 180,
        "y": 180,
        "wires": []
    },
    {
        "id": "c6332e7f.d8aab",
        "type": "comment",
        "z": "f31cb4b4.8fd488",
        "name": "\"We will call again later, bye\"",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "6f0e6940.e8d358",
        "type": "comment",
        "z": "f31cb4b4.8fd488",
        "name": "End Conversation",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "2bfa258e.cefc5a",
        "type": "debug",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "1b603f12.31d3b1",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-pulse",
        "url": "/measure-pulse",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "9a2f2c42.18444"
            ]
        ]
    },
    {
        "id": "cb510380.3ba1c",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1360,
        "y": 720,
        "wires": []
    },
    {
        "id": "cce10e6d.612e7",
        "type": "set-route",
        "z": "f31cb4b4.8fd488",
        "name": "next: /measure-pulse",
        "route": "/measure-pulse",
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "1aaebd26.36a9a3"
            ]
        ]
    },
    {
        "id": "afbb99ca.d55948",
        "type": "set-route",
        "z": "f31cb4b4.8fd488",
        "name": "next: /measure-temp",
        "route": "/measure-temp",
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "cb510380.3ba1c"
            ]
        ]
    },
    {
        "id": "870472b5.8e423",
        "type": "comment",
        "z": "f31cb4b4.8fd488",
        "name": "Take measurements (oxi, pulse)",
        "info": "",
        "x": 150,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd7cf377.0b912",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "10",
        "numDigits": "3",
        "speechHints": "ninety hundred one two three four five six seven eight nine percent",
        "speechTimeout": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "65fd80b5.33ee1"
            ]
        ]
    },
    {
        "id": "65fd80b5.33ee1",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "Enter oxy level",
        "phrase": "Please tell me your blood oxygen level now. For example 98%.",
        "voice": "man",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "e0349993.d54048"
            ]
        ]
    },
    {
        "id": "e0349993.d54048",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "bf486111.0a78a"
            ]
        ]
    },
    {
        "id": "9a2f2c42.18444",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "5",
        "numDigits": "3",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "fd65385e.571b18"
            ]
        ]
    },
    {
        "id": "fd65385e.571b18",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "Enter pulse",
        "phrase": "Please tell me your pulse rate now.",
        "voice": "man",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "786ad2cd.011b2c"
            ]
        ]
    },
    {
        "id": "786ad2cd.011b2c",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 670,
        "y": 720,
        "wires": [
            [
                "aeda6e60.b1c55"
            ]
        ]
    },
    {
        "id": "d2406588.be6978",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-temp",
        "url": "/measure-temp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "4480a078.6cb42"
            ]
        ]
    },
    {
        "id": "9ef396d9.d0e3c8",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1400,
        "y": 800,
        "wires": []
    },
    {
        "id": "e1ab935a.4ee15",
        "type": "set-route",
        "z": "f31cb4b4.8fd488",
        "name": "next: /measure-resp-rate",
        "route": "/measure-resp-rate",
        "x": 1170,
        "y": 800,
        "wires": [
            [
                "9ef396d9.d0e3c8"
            ]
        ]
    },
    {
        "id": "4480a078.6cb42",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "10",
        "numDigits": "3",
        "speechHints": "thirty fourty one two three four five six seven eight nine ten",
        "speechTimeout": "auto",
        "x": 290,
        "y": 800,
        "wires": [
            [
                "5e7043f7.57d46c"
            ]
        ]
    },
    {
        "id": "5e7043f7.57d46c",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "Enter temperature",
        "phrase": "Please measure your body temperature. For example 38.6",
        "voice": "man",
        "x": 490,
        "y": 800,
        "wires": [
            [
                "90f02514.70a7c8"
            ]
        ]
    },
    {
        "id": "90f02514.70a7c8",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 670,
        "y": 800,
        "wires": [
            [
                "5ead8de5.981f84"
            ]
        ]
    },
    {
        "id": "8ea2519.e57cdb",
        "type": "comment",
        "z": "f31cb4b4.8fd488",
        "name": "Select next step",
        "info": "",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "fe2815ee.364058",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-resp-rate",
        "url": "/measure-resp-rate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "757684bc.92095c"
            ]
        ]
    },
    {
        "id": "92b11b76.9a9ae8",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1380,
        "y": 900,
        "wires": []
    },
    {
        "id": "b9c435ab.005678",
        "type": "set-route",
        "z": "f31cb4b4.8fd488",
        "name": "next: END",
        "route": "/end",
        "x": 1140,
        "y": 900,
        "wires": [
            [
                "92b11b76.9a9ae8"
            ]
        ]
    },
    {
        "id": "757684bc.92095c",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf speech",
        "timeout": "5",
        "numDigits": "2",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 290,
        "y": 900,
        "wires": [
            [
                "282d61ca.173fce"
            ]
        ]
    },
    {
        "id": "282d61ca.173fce",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "Enter respiration rate",
        "phrase": "Please measure your respiratory rate now. To do so, please start counting silently every breath you take after the beep. Count until you hear thesecond beep after after 15 seconds.",
        "voice": "man",
        "x": 500,
        "y": 900,
        "wires": [
            [
                "533174a3.6b1eec"
            ]
        ]
    },
    {
        "id": "45935a32.4b9064",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 730,
        "y": 900,
        "wires": [
            [
                "52672944.cefea8"
            ]
        ]
    },
    {
        "id": "aa57eae1.a77108",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-status",
        "url": "/measure-status",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1200,
        "wires": [
            [
                "73683c0d.294214"
            ]
        ]
    },
    {
        "id": "9e2d6e30.a583",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1380,
        "y": 1200,
        "wires": []
    },
    {
        "id": "eb0b3dbe.f83ba",
        "type": "set-route",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-additional",
        "route": "/measure-additional",
        "x": 1160,
        "y": 1200,
        "wires": [
            [
                "9e2d6e30.a583"
            ]
        ]
    },
    {
        "id": "73683c0d.294214",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "dtmf",
        "timeout": "5",
        "numDigits": "2",
        "speechHints": "one two three four five six seven eight nine ten",
        "speechTimeout": "auto",
        "x": 290,
        "y": 1200,
        "wires": [
            [
                "58311b81.4c7b14"
            ]
        ]
    },
    {
        "id": "58311b81.4c7b14",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "general health status",
        "phrase": "Please rate your general health status on a scale from 1 to 10, where 1 is a very poor health status and 10 is a very good health status.",
        "voice": "man",
        "x": 500,
        "y": 1200,
        "wires": [
            [
                "c7985fd9.bb437"
            ]
        ]
    },
    {
        "id": "c7985fd9.bb437",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 690,
        "y": 1200,
        "wires": [
            [
                "e11927db.c5f0e8"
            ]
        ]
    },
    {
        "id": "556fff13.9b7f8",
        "type": "http in",
        "z": "f31cb4b4.8fd488",
        "name": "/measure-additional",
        "url": "/measure-additional",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "39754050.9e0ef"
            ]
        ]
    },
    {
        "id": "55eb7927.3741f8",
        "type": "http response",
        "z": "f31cb4b4.8fd488",
        "name": "return to router",
        "statusCode": "",
        "headers": {},
        "x": 1380,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4b75f429.dc075c",
        "type": "set-route",
        "z": "f31cb4b4.8fd488",
        "name": "next: /end",
        "route": "/end",
        "x": 1120,
        "y": 1280,
        "wires": [
            [
                "55eb7927.3741f8"
            ]
        ]
    },
    {
        "id": "39754050.9e0ef",
        "type": "gather-begin",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "action": "/router",
        "input": "speech",
        "timeout": "10",
        "numDigits": "1",
        "speechHints": "",
        "speechTimeout": "auto",
        "x": 290,
        "y": 1280,
        "wires": [
            [
                "840483ec.84188"
            ]
        ]
    },
    {
        "id": "840483ec.84188",
        "type": "say",
        "z": "f31cb4b4.8fd488",
        "name": "Anything else?",
        "phrase": "Is there anything else you want to let us know about your current health status?",
        "voice": "man",
        "x": 480,
        "y": 1280,
        "wires": [
            [
                "103ccf5b.8a67f1"
            ]
        ]
    },
    {
        "id": "103ccf5b.8a67f1",
        "type": "gather-end",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "x": 690,
        "y": 1280,
        "wires": [
            [
                "acf0423f.6f3a"
            ]
        ]
    },
    {
        "id": "67dac4e0.c608bc",
        "type": "link in",
        "z": "d2c6ecad.c01aa",
        "name": "store measurement",
        "links": [
            "9ea5dbda.3e8fe8",
            "b08e8e4.97c197"
        ],
        "x": 395,
        "y": 180,
        "wires": [
            [
                "fa5d5f88.ba0d3"
            ]
        ]
    },
    {
        "id": "fa5d5f88.ba0d3",
        "type": "function",
        "z": "d2c6ecad.c01aa",
        "name": "store measurement in session",
        "func": "var key = msg.session.next_measurement;\n\nif (key){\n    delete msg.session.next_measurement; // clear the key\n    \n    var value = msg.payload.Digits;\n    if (!msg.session.measurements){\n        msg.session.measurements = {};\n    }\n    msg.session.measurements[key] = value\n    global.get(\"sessions\")[msg.payload.CallSid] = msg.session;\n    \n    node.warn ('Stored measurement for: ' + key + ' : ' + value);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "cd17d0f5.7ea55"
            ]
        ]
    },
    {
        "id": "cd17d0f5.7ea55",
        "type": "debug",
        "z": "d2c6ecad.c01aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf486111.0a78a",
        "type": "function",
        "z": "f31cb4b4.8fd488",
        "name": "'oxygen_level'",
        "func": "\nmsg.session.next_measurement = 'oxygen_level';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 620,
        "wires": [
            [
                "cce10e6d.612e7"
            ]
        ]
    },
    {
        "id": "b08e8e4.97c197",
        "type": "link out",
        "z": "e00d1491.279808",
        "name": "store measurement",
        "links": [
            "67dac4e0.c608bc"
        ],
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5182613.6bed98",
        "type": "comment",
        "z": "d2c6ecad.c01aa",
        "name": "msg.session.next_measurement must contain a key",
        "info": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "aeda6e60.b1c55",
        "type": "function",
        "z": "f31cb4b4.8fd488",
        "name": "'pulse'",
        "func": "\nmsg.session.next_measurement = 'pulse';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 720,
        "wires": [
            [
                "afbb99ca.d55948"
            ]
        ]
    },
    {
        "id": "5ead8de5.981f84",
        "type": "function",
        "z": "f31cb4b4.8fd488",
        "name": "'temperature'",
        "func": "\nmsg.session.next_measurement = 'temperature';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 800,
        "wires": [
            [
                "e1ab935a.4ee15"
            ]
        ]
    },
    {
        "id": "52672944.cefea8",
        "type": "function",
        "z": "f31cb4b4.8fd488",
        "name": "'respiratory_rate'",
        "func": "\nmsg.session.next_measurement = 'respiratory_rate';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 900,
        "wires": [
            [
                "b9c435ab.005678"
            ]
        ]
    },
    {
        "id": "e11927db.c5f0e8",
        "type": "function",
        "z": "f31cb4b4.8fd488",
        "name": "'health_status'",
        "func": "\nmsg.session.next_measurement = 'health_status';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 1200,
        "wires": [
            [
                "eb0b3dbe.f83ba"
            ]
        ]
    },
    {
        "id": "acf0423f.6f3a",
        "type": "function",
        "z": "f31cb4b4.8fd488",
        "name": "'comments'",
        "func": "\nmsg.session.next_measurement = 'comments';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 1280,
        "wires": [
            [
                "4b75f429.dc075c"
            ]
        ]
    },
    {
        "id": "32c3f5cb.d9eeaa",
        "type": "link in",
        "z": "84dadbfd.fcdfd8",
        "name": "send data to backend",
        "links": [
            "6bb882be.c0a92c",
            "2f194047.be588",
            "49124703.8225f8"
        ],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "5434a47a.440c9c"
            ]
        ]
    },
    {
        "id": "5434a47a.440c9c",
        "type": "function",
        "z": "84dadbfd.fcdfd8",
        "name": "construct health-report request",
        "func": "var session = global.get(\"sessions\")[msg.payload.CallSid];\n\nvar result = {\n    timestamp: new Date(),\n    healthReportID : null,\n    patientID : session.callInfo.patientID,\n    heartBeat: session.measurements.pulse,\n    oxygenation: session.measurements.oxygen_level,\n    temperature: session.measurements.temperature,\n    breathingRate: session.measurements.respiratory_rate,\n    ML_Triage: null,\n    //measurements : session.measurements,\n    //patientPhone : msg.payload.Called,\n    //patientCountry: msg.payload.CalledCountry,\n    //callID : msg.payload.CallSid,\n    //webhook : session.callInfo.webhook\n}\n\n\nmsg.payload = result;\nmsg.url = session.callInfo.webhook;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "e5f1ded.9b0ca2",
                "b2aa28ba.fce278"
            ]
        ]
    },
    {
        "id": "ac3f705b.07b0f",
        "type": "debug",
        "z": "84dadbfd.fcdfd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5f1ded.9b0ca2",
        "type": "http request",
        "z": "84dadbfd.fcdfd8",
        "name": "POST data to backend",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "ac3f705b.07b0f"
            ]
        ]
    },
    {
        "id": "9e04960d.d94388",
        "type": "switch",
        "z": "e00d1491.279808",
        "name": "",
        "property": "payload.CallStatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "completed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "5a31c189.7a2b1",
                "2f194047.be588"
            ],
            [
                "f6e8ca0f.cbc458"
            ]
        ]
    },
    {
        "id": "2f194047.be588",
        "type": "link out",
        "z": "e00d1491.279808",
        "name": "",
        "links": [
            "32c3f5cb.d9eeaa"
        ],
        "x": 455,
        "y": 660,
        "wires": []
    },
    {
        "id": "49124703.8225f8",
        "type": "link out",
        "z": "f31cb4b4.8fd488",
        "name": "",
        "links": [
            "32c3f5cb.d9eeaa"
        ],
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "796a14c0.3cbfcc",
        "type": "http in",
        "z": "84dadbfd.fcdfd8",
        "name": "",
        "url": "/echo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "1950c1d9.e9313e",
                "e2a60af4.b627e8"
            ]
        ]
    },
    {
        "id": "1950c1d9.e9313e",
        "type": "debug",
        "z": "84dadbfd.fcdfd8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2a60af4.b627e8",
        "type": "http response",
        "z": "84dadbfd.fcdfd8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "b2aa28ba.fce278",
        "type": "debug",
        "z": "84dadbfd.fcdfd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "83591c5b.f38c1",
        "type": "debug",
        "z": "7bb718cc.14b568",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "7d7dae25.f80de",
        "type": "function",
        "z": "7bb718cc.14b568",
        "name": "store call-info under new sid",
        "func": "if (!global.get(\"call-info\")){\n    global.set(\"call-info\", {})\n}\n// we need the new sid after the call has been created\n// FIXME this is probably not safe from race conditions\nglobal.get(\"call-info\")[msg.payload.sid] = flow.get('callInfo');\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "f2d23941.2b47f8",
                "f83671f1.0f3ae"
            ]
        ]
    },
    {
        "id": "533174a3.6b1eec",
        "type": "play",
        "z": "f31cb4b4.8fd488",
        "baseurl": "bcd6f241.db584",
        "name": "beep",
        "url": "/beep.mp3",
        "x": 420,
        "y": 980,
        "wires": [
            [
                "f114666f.5dc718"
            ]
        ]
    },
    {
        "id": "f114666f.5dc718",
        "type": "pause",
        "z": "f31cb4b4.8fd488",
        "name": "15s",
        "seconds": "15",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "d97807fa.2d4c38"
            ]
        ]
    },
    {
        "id": "d97807fa.2d4c38",
        "type": "play",
        "z": "f31cb4b4.8fd488",
        "baseurl": "bcd6f241.db584",
        "name": "beep",
        "url": "/beep.mp3",
        "x": 720,
        "y": 980,
        "wires": [
            [
                "45935a32.4b9064"
            ]
        ]
    }
]